*{
  margin: 0;
  padding: 0;
}

.fondo-gris-claro{
  background-color: rgb(242, 242, 242);
}

.fondo-verde-agua{
  background-color: rgb(102, 255, 194);
}

.fondo-azul{
  background-color: rgb(0, 40, 77);
}

img{
  width: 100%;
}

.center{
  text-align: center; 
}
